.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Phone {
  background-color: blue;
  border-radius: 15px;
  padding:5px;
  margin:10px;
}
.Container{
  border:1px solid white;
  padding: 5px;
  background-image:url(../public/images\ \(1\).jpg);
  border-radius: 20px;
  padding:5px;
  margin:10px;
  color: green;
  text-align: center;
  width: 200px;
  height: 250px;
  align-items: center;

}
.Container-2{
  border:1px solid blue;
  background-image: url(../public/images.jpg);
  border-radius: 15px;
  padding:5px;
  margin:10px;
  color: red;
  width: 200px;
  height: 250px;
  text-align: center;
}
